@model 縱火0709.Models.News

@{
    ViewBag.Title = "Delete";
}

<h2>刪除新聞</h2>


<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.New_Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.New_Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.New_Message)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.New_Message)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.New_img)
        </dt>

        <dd>
            <img src="@Url.Content(Model.New_img)" style="width: 121px;height: 121px" class="img-thumbnail" />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.New_Content)
        </dt>

        <dd>
            @Html.Raw(Model.New_Content)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sticky)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sticky)
        </dd>
    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default deleteBtn" /> |
            @Html.ActionLink("Back to List", "Index", new { page = Request["page"], searchTitle = Request.QueryString["searchTitle"], searchStartDate = Request.QueryString["searchStartDate"], searchEndDate = Request.QueryString["searchEndDate"], sortBy = Request["sortBy"] })
        </div>
    }
</div>
@section scripts
{
    <script>
        $(function () {
            //刪除點選
            $(".deleteBtn").click(function () {
                return confirm("確定要刪除?");
            });
        });
    </script>
}