@model 縱火0709.Models.NewsViewModel


<h2>編輯新聞</h2>

@using (Html.BeginForm("Edit", "News", FormMethod.Post, new { @enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.id)

        <div class="form-group">
            @Html.LabelFor(model => model.Date, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Date, new { htmlAttributes = new { @Value = @Model.Date.ToString("yyyy-MM-dd"), @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.New_Title, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.New_Title, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.New_Title, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.New_Message, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.New_Message, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.New_Message, "", new { @class = "text-danger" })
            </div>
        </div>

        @*範例*@
        <div class="form-group">
            @Html.LabelFor(model => model.New_img, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="col-sm-2 p-3">
                    @*預覽fileupload照片*@
                    @*<img src="@Url.Content(Model.New_img)" style="width: 100px;height: 100px" class="img-thumbnail" />*@
                    <div id="picview"></div>
                    @*預覽fileupload照片 end*@
                </div>
                <div class="col-sm-4">
                    @Html.TextBoxFor(model => model.image1, "", new { type = "file", @class = "vertical", onchange = "picview(this)" })
                    @Html.ValidationMessageFor(model => model.image1, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        @*範例*@

        <div class="form-group">
            @Html.LabelFor(model => model.New_Content, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.New_Content)
                @Html.ValidationMessageFor(model => model.New_Content, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Sticky, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Sticky, new SelectList(Enum.GetValues(typeof(縱火0709.Models.Enum.StickyType))).Take(2), new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Sticky, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>

    @Html.ActionLink("Back to List", "Index", new { page = Request["page"], searchTitle = Request.QueryString["searchTitle"], searchStartDate = Request.QueryString["searchStartDate"], searchEndDate = Request.QueryString["searchEndDate"], sortBy = Request["sortBy"] })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @*顯示圖片*@
    <script type="text/javascript">
        //img 網頁初始加載
        window.onload = function () {
            document.getElementById('picview').innerHTML = '<img class="img1" src="@Url.Content(Model.New_img)" />';
        }

        function picview(file) {
            var picviewDiv = document.getElementById('picview');
            if (file.files && file.files[0]) {
                var reader = new FileReader();
                reader.onload = function (evt) {
                    picviewDiv.innerHTML = '<img class="img1" src="' + evt.target.result + '" />';
                }
                reader.readAsDataURL(file.files[0]);
            }
            else {
                document.getElementById('picview').innerHTML = '<img class="img1" src="@Url.Content(Model.New_img)" />';
            }
        }
    </script>
    <script src="~/Scripts/ckeditor/ckeditor.js"></script>
    <script>
        var editor = CKEDITOR.editor.replace('New_Content',
            {
                filebrowserBrowseUrl: '../../../Scripts/ckfinder/ckfinder.html',
                filebrowserImageBrowseUrl: '../../../Scripts/ckfinder/ckfinder.html?type=Images',
                filebrowserFlashBrowseUrl: '../../../Scripts/ckfinder/ckfinder.html?type=Flash',
                filebrowserUploadUrl: '../../../Scripts/ckfinder/core/connector/aspx/connector.aspx?command=QuickUpload&type=Files',
                filebrowserImageUploadUrl: '../../../Scripts/ckfinder/core/connector/aspx/connector.aspx?command=QuickUpload&type=Images',
                filebrowserFlashUploadUrl: '../../../Scripts/ckfinder/core/connector/aspx/connector.aspx?command=QuickUpload&type=Flash'
            });
    </script>
}

@section Styles
{
    @*圖片顯示框樣式*@
    <style type="text/css">
        #picview, .img1 {
            width: 161px;
            height: 121px;
            position: relative;
            left: -1px;
            top: -1px;
            border: 1px solid #000;
        }

        #picview {
            border: 1px solid #000;
        }

        .vertical {
            margin-top: 50px;
        }
    </style>
}