@* 分頁引入 *@
@using PagedList
@using PagedList.Mvc

@model IPagedList<縱火0709.Models.News>

@* 分頁樣式 *@
<link href="~/Content/PagedList.css" rel="stylesheet" />
@{
    ViewBag.Title = "新聞列表";
}

<div class="row">
    <div class="col-sm-12 p-0">
        <div class="main-header" style="margin-top: 0px;">
            <h2>@ViewBag.Title</h2>
            <h3>
                @Html.ActionLink("Create New", "Create")
            </h3>
        </div>
    </div>
</div>

@using (@Html.BeginForm("Index", "News", FormMethod.Get, new { @class = "form-inline" }))
{
    <div class="card-block">
        <div class="form-group m-r-15">
            <label for="inline2mail" class="m-r-15 form-control-label">
                <b>新聞日期查詢</b>
            </label>
            @Html.TextBox("searchStartDate", "", new { @class = "form-control", type = "date" })
            到
            @Html.TextBox("searchEndDate", "", new { @class = "form-control", type = "date" })
        </div>
        <button type="submit" class="btn btn-success waves-effect waves-light m-r-20" data-toggle="tooltip" data-placement="top" title="" data-original-title=".icofont-search-alt-2">
            <i class="icofont icofont-search-alt-2"></i>
        </button>
    </div>
    <div class="card-block">
        <div class="form-group m-r-15">
            <label for="inline2mail" class="m-r-15 form-control-label">
                <b>新聞標題查詢</b>
            </label>
            @Html.TextBox("searchTitle", "", new { @class = "form-control p-r-50", placeholder = "新聞標題" })
        </div>
        <button type="submit" class="btn btn-primary  waves-effect waves-light m-r-20">Search</button>
        <button type="reset" class="btn btn-danger waves-effect waves-light" onclick="location.href='@Url.Action("ClearAll", "News")'">
            <i class="fas fa-calendar-times "></i> Clear All
        </button>
    </div>
}

<div class="card">
    <div class="card-block">
        <div class="row">
            <div class="col-sm-12 table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>
                                @*@Html.DisplayNameFor(model => model.FirstOrDefault().Date)*@
                                @Html.ActionLink("Date", "Index", new { sortBy = ViewBag.DateSort, searchTitle = Request.QueryString["searchTitle"], searchStartDate = Request.QueryString["searchStartDate"], searchEndDate = Request.QueryString["searchEndDate"] })
                            </th>
                            <th>
                                @*@Html.DisplayNameFor(model => model.FirstOrDefault().New_Title)*@
                                @Html.ActionLink("Title", "Index", new { sortBy = ViewBag.TitleSort, searchTitle = Request.QueryString["searchTitle"], searchStartDate = Request.QueryString["searchStartDate"], searchEndDate = Request.QueryString["searchEndDate"] })
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.FirstOrDefault().New_Message)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.FirstOrDefault().New_img)
                            </th>

                            <th>編輯/查看/刪除</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.Count() == 0)
                        {
                            <tr>
                                <td colspan="5" class="text-center text-danger">
                                    查無資料!請重新查詢~
                                </td>
                            </tr>
                        }
                        else
                        {

                            foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Date)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.New_Title)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.New_Message)
                                    </td>
                                    <td>
                                        <img style="width: 100px; height: 100px" src="@Url.Content(@item.New_img)" class="img-thumbnail" />
                                    </td>

                                    <td>
                                        @Html.ActionLink("Edit", "Edit", new { id = item.id, page = Request["page"], searchTitle = Request.QueryString["searchTitle"], searchStartDate = Request.QueryString["searchStartDate"], searchEndDate = Request.QueryString["searchEndDate"], sortBy = Request["sortBy"] }) |
                                        @Html.ActionLink("Details", "Details", new { id = item.id, page = Request["page"], searchTitle = Request.QueryString["searchTitle"], searchStartDate = Request.QueryString["searchStartDate"], searchEndDate = Request.QueryString["searchEndDate"], sortBy = Request["sortBy"] }) |
                                        @Html.ActionLink("Delete", "Delete", new { id = item.id.ToString(), page = Request["page"], searchTitle = Request.QueryString["searchTitle"], searchStartDate = Request.QueryString["searchStartDate"], searchEndDate = Request.QueryString["searchEndDate"], sortBy = Request["sortBy"] })
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="text-center">
    @*@Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new { page = page }),
        new PagedListRenderOptions
        {
            LinkToFirstPageFormat = "首頁",
            LinkToPreviousPageFormat = "上一頁",
            LinkToNextPageFormat = "下一頁",searchTitle = Request.QueryString["searchTitle"], searchStartDate = Request.QueryString["searchStartDate"], searchEndDate = Request.QueryString["searchEndDate"]
            LinkToLastPageFormat = "尾頁"
        })*@

    @Html.PagedListPager(Model, page => Url.Action("Index",
        new
        {
            page,
            searchTitle = Request.QueryString["searchTitle"],
            searchStartDate = Request.QueryString["searchStartDate"],
            searchEndDate = Request.QueryString["searchEndDate"],
            sortBy = Request["sortBy"]
        }),
        new PagedListRenderOptions() { Display = PagedListDisplayMode.IfNeeded })
</div>

@section Scripts {
    @*fontawesome專屬icon*@
    <script src="https://kit.fontawesome.com/a6229d3238.js" crossorigin="anonymous"></script>
}