@model 縱火0709.Models.UserViewModel

@{
    ViewBag.Title = "Delete";
}

<h2>刪除用戶</h2>

<div>
    <h4>管理者</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserType.TypeName)
        </dt>

        <dd>
            @Html.Display("TypeId")
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserImg)
        </dt>

        <dd>
            <img src="@Url.Content(Model.UserImg)" style="width: 100px;height: 100px" class="img-thumbnail" />
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Account)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Account)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Authority)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Authority)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserPhone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserPhone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sex)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sex)
        </dd>

        @*代碼*@
        <dt>
            @Html.DisplayNameFor(model => model.HobbyItems)
        </dt>
        <dd>
            @for (int i = 0; i < Model.HobbyItems.Count; i++)
            {
                @Html.HiddenFor(x => Model.HobbyItems[i].Id)
                @Html.DisplayFor(it => Model.HobbyItems[i].Title)
            }
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Ramark)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Ramark)
        </dd>
    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default deleteBtn" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        //jq作法
        //$(function () {
        //    $("dd:last").html($("dd:last").text().substring(1, $("dd:last").text().length - 9));
        //});

        //js作法 興趣逗點去掉,沒有興趣自動補"無"
        let aa = document.querySelector("dl").children[17].innerText;
        //let aa = document.querySelector("dl").lastElementChild.innerText;
        let bb = aa.substring(0, aa.length - 1);
        if (aa.length == 0) {
            document.querySelector("dl").children[17].textContent = "無";
        } else {
            document.querySelector("dl").children[17].innerText = bb;
        }
        $(function () {
            //刪除點選
            $(".deleteBtn").click(function () {
                return confirm("確定要刪除?");
            });
        });
    </script>

}