@using Newtonsoft.Json
@using 縱火0709.Models
@model 縱火0709.Models.Reply
@{
    ViewBag.BarTitle = "會員專區";
    ViewBag.Subtitle = "討論區";
    Html.EnableClientValidation();
    Html.EnableUnobtrusiveJavaScript();
}

<div class="row">
    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
        <div class="sidebar sidebar-right">
            <div class="widget">
                <h2 class="widget-title"><i class="fa fa-folder-open-o">&nbsp;</i>@ViewBag.BarTitle </h2>
                <ul class="arrow nav nav-tabs nav-stacked">
                    <li class="active"><a href="~/Members/member_forum">討論區</a></li>
                    <li><a href="~/Members/member_edit?userid=@ViewBag.memberId">修改個人資料</a></li>
                    <li><a href="~/Home/Logout">登出</a></li>
                </ul>
            </div>
            <!-- Categories end -->
        </div>
        <!-- Sidebar end -->
    </div>
    <!-- Sidebar Col end -->

    <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">

        <h2 class="page-title">@ViewBag.Subtitle</h2>
        <hr class="botmargin-min">
        <!-- 內容開始 -->
        @using (Html.BeginForm("member_ReArticle", "Members", FormMethod.Post, new { @enctype = "multipart/form-data", @class = "form-horizontal" }))
        {
            @Html.HiddenFor(x => x.ArtID)
            @Html.AntiForgeryToken()
            <div class="form-group">
                <label class="col-sm-2 control-label">回覆主題：</label>
                <div class="col-sm-7">
                    @* 作法二 *@
                    @ViewBag.Article_title
                    @* 作法一 *@
                    @*@Html.DisplayFor(model => model.Article.Article_Title, new { htmlAttributes = new { @class = "form-control", @placeholder = "標題" } })*@
                </div>
            </div>
            <div class="form-group">
                @Html.TextAreaFor(model => model.Reply_Content)
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <input type="submit" value="發 表" class="btn btn-primary solid blank" />
                </div>
            </div>
        }

        <!-- Content row 1 end -->
        <!-- 內容結束 -->

        <div class="tags-area clearfix">

            <div class="share-items pull-right" style="display: none">
                <ul class="post-social-icons unstyled">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- Content Col end -->
    <!-- 內容結束 -->
</div>

@section scripts
{
    @Scripts.Render("~/bundles/jquery");
    @Scripts.Render("~/bundles/jqueryval");
    <script src="~/Scripts/ckeditor/ckeditor.js"></script>
    <script>
        var editor = CKEDITOR.editor.replace('Reply_Content',
            {
                filebrowserBrowseUrl: '../Scripts/ckfinder/ckfinder.html',
                filebrowserImageBrowseUrl: '../Scripts/ckfinder/ckfinder.html?type=Images',
                filebrowserFlashBrowseUrl: '../Scripts/ckfinder/ckfinder.html?type=Flash',
                filebrowserUploadUrl: '../Scripts/ckfinder/core/connector/aspx/connector.aspx?command=QuickUpload&type=Files',
                filebrowserImageUploadUrl: '../Scripts/ckfinder/core/connector/aspx/connector.aspx?command=QuickUpload&type=Images',
                filebrowserFlashUploadUrl: '../Scripts/ckfinder/core/connector/aspx/connector.aspx?command=QuickUpload&type=Flash'
            });
    </script>
}